.features-wrapper {
  @include media(desktop) {
  }
}

.features-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 116px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-subtitle {
  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
  }
}

.features-list-item {
  background: rgba(255, 255, 255, 0.05);
  padding: 16px;
  width: 100%;
  max-width: 343px;
  min-height: 133px;

  @include media(desktop) {
    padding: 24px 16px 24px 24px;
    max-width: 416px;
    min-height: 148px;
  }
}

.features-item-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #f5f5f5;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.features-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(245, 245, 245, 0.6);

  @include media(desktop) {
    font-size: 16px;
  }
}
