.header {
  backdrop-filter: blur(20px);
  background: rgba(245, 245, 245, 0.1);
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-container {
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 4px;

  @include media(desktop) {
    gap: 12px;
  }
}

.header-span {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #f5f5f5;

  @include media(desktop) {
    font-size: 32px;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.nav-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #f5f5f5;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-list-link.active {
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
