<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title about-title">About Match Xise PRO</h2>
    <div class="about-content-wrapper">
      <div class="about-text-wrapper">
        <p class="section-subtitle about-subtitle">
          Smart Games. Solid Systems. Match Xise
        </p>
        <p class="about-text">
          Founded by puzzle game veterans, Match Xise PRO builds mobile-first
          games that reward logical play, spark delight, and scale globally. We
          craft experiences for both casual fans and competitive solvers
        </p>
        <p class="about-mantra-text">
          Our mantra: If it doesn’t sparkle, we don’t ship it
        </p>
      </div>
      <div class="about-list-wrapper">
        <p class="about-specialize-text">We specialize in</p>
        <ul class="about-list">
          <li class="about-list-item">
            <p class="about-list-item-text">
              Scalable match-3 engines with rich meta systems
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-list-item-text">
              Balanced level design that promotes long-term retention
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-list-item-text">
              Eye-catching visuals and intuitive interactions
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-list-item-text">
              Real-time player feedback integration
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
