<section class="section hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-content-wrapper">
      <h1 class="hero-title">Crack the Code of Match-3 Mastery</h1>
      <p class="hero-text">
        Welcome to Match Xise PRO — a development house crafting elevated
        match-3 puzzle games with deep systems, reactive gameplay, and limitless
        replayability. We blend visual clarity with brain-tickling mechanics to
        keep players engaged from tap to triumph.<br />
        Your next hit puzzle game starts here
      </p>
      <div class="hero-btn-wrapper">
        <a href="#contact" class="hero-games-link">Try Our Games</a>
        <a href="#contact" class="hero-contact-link">Contact the Studio</a>
      </div>
    </div>
  </div>
</section>
