<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#games">Our Games</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#advantages">Why Us</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Realisation</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews"
          >Testimonials</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
