@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/games.scss';
@import './components/advantages.scss';
@import './components/features.scss';
@import './components/reviews.scss';
@import './components/faq.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy.scss';
